body {
  background-color:#35407a;
}

/* Graphic box on login screen */
#loginBox {
  border-radius: 8%;
  border: 0.5em solid #9cb7e2;
  background: #93ead3;
  padding: 7%;
  padding-top: 8%;
  width: 70%;
  height: 50em;
  margin: auto;
  position: relative;
  margin-top: 50%;
}

/* Part of the graphic box on login sceren */
#loginCircle {
	width: 250px;
	height: 250px;
	background: #93ead3;
	-webkit-border-radius: 125px;
	z-index:10;
	margin:auto;
	top:-30%;
	position:relative;
}

/* Part of the graphic box on login sceren */
#innerLoginCircle {
	width: wa220px;
	height: 220px;
	/* background-image: url("images/CTLogo.png"); */
	-webkit-border-radius: 125px;
	z-index:11;
	margin-left:6.3%;
  top:7%;
	position:relative;
}

/* Formatting of the input for login user info */
#loginInput {
	font-size: 29px;
	color: #c9d7e5;
  width: 80%;
  margin: 30px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 5px 50px;
  border: 5px solid white;
  border-radius: 15%;
  box-sizing: border-box;

}

#logoTitle{
  font-size: 30px;
  position:relative;
  top: -27.4%;
}

#loginButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 25px 32px;
  text-decoration: none;
  margin: 25px 30px;
  margin-top: 10%;
  cursor: pointer;
  -webkit-border-radius: 7.7%;
  width: 80%;
}

#logFormCont {
  position: relative;
  top: -25%;
}
